<mat-card>
    <mat-card-header>
        <mat-card-title>Registrar nuevo usuario:</mat-card-title>
    </mat-card-header>

    <form class="form-create-user">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Datos personales
                </mat-panel-title>

                <mat-panel-description>
                    Pulsa para rellenar los datos del usuario
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Dirección
                </mat-panel-title>

                <mat-panel-description>
                    Pulsa para rellenar la dirección
                </mat-panel-description>

            </mat-expansion-panel-header>

            <mat-form-field class="example-full-width">
                <mat-label>Calle</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Suite</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Ciudad</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Codigo Postal</mat-label>
                <input matInput>
            </mat-form-field>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Datos de contacto
                </mat-panel-title>

                <mat-panel-description>
                    Pulsa para rellenar los datos de contacto
                </mat-panel-description>

            </mat-expansion-panel-header>

            <mat-form-field class="example-full-width">
                <mat-label>Telefono</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Sitio Web</mat-label>
                <input matInput>
            </mat-form-field>

        </mat-expansion-panel>

    </form>


</mat-card>