<div class="options-search">

    <mat-card class="card-sombra">
        <h5>Opciones de busqueda:</h5>

        <mat-form-field class="example-full-width">
            <mat-label>
                <mat-icon>search</mat-icon>
                Buscar
            </mat-label>
            <input matInput type="search" [formControl]="search" placeholder="Ex. Jhon">
        </mat-form-field>

        <mat-paginator [length]="filterUsers.length" [pageSize]="pageSize" [pageSizeOptions]="pageOptions" (page)="handlePage($event)">
        </mat-paginator>
    </mat-card>

</div>

<mat-divider></mat-divider>

<mat-card class="card-gris" *ngFor="let user of filterUsers | paginate:pageSize:pageNumber">

    <mat-card-header>

        <mat-card-title>{{user.name}}</mat-card-title>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/users/detail', user.id]">
              <mat-icon>account_circle</mat-icon>
              <span>Ver detalles</span>
            </button>
            <button mat-menu-item [routerLink]="['/users/edit', user.id]">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="eliminarUsuario(user.id)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
        </mat-menu>


    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <div class="row">
            <div class="col-3">
                <mat-icon style="font-size:5em; position:relative; bottom: 10px; left: 0;">account_circle</mat-icon>
            </div>
            <div class="col-9">
                <p> <span class="bold">Email:</span> {{user.email}}</p>
                <p> <span class="bold">Username:</span> {{user.username}}</p>
            </div>
        </div>
    </mat-card-content>

</mat-card>

<div *ngIf="noEncontrados" style="text-align: center;padding-top: 2em;">
    <h2>No es la llama que buscas!</h2>
    <img src="../../../../assets/img/llama.png" style="width: 200px;" alt="">
</div>