<mat-card class="card-sombra">
    <mat-card-header>
        <mat-card-title>Editar usuario:</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <form class="form-edit-user" [formGroup]="editForm" (ngSubmit)="true">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Datos personales">

            </mat-tab>
            <mat-tab label="Datos de contacto">

            </mat-tab>
            <mat-tab label="Datos empresariales">

            </mat-tab>
        </mat-tab-group>
    </form>

</mat-card>