.nav {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.link-item {
    margin: 1%;
    padding: 1%;
}

.icon-home {
    font-size: 1.5em;
    position: relative;
    bottom: .1em;
}

.link-item a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.link-item:hover {
    background-color: #445094;
    cursor: pointer;
}

.home {
    margin-right: 3%;
    font-size: 1.1em;
}

.active {
    border-bottom: 4px solid #fff;
    border-radius: 2px;
}